<section id="home">
  <div class="my-name">
    <div class="my-name-container">
      <h1>
        <span class="text">Hi!👋🏽</span>
        <br>
        <span>I'm</span>
        <span class="text-name">Bernardo Mendes</span>
        <br>
        <span>I bring ideas to life</span>
      </h1>
    </div>
  </div>
</section>

<section id="projects">
  <div class="projects container margin">
    <div class="">
      <h2 class="title">My Works</h2>
    </div>
    <div class="projects-container">

      <div class="card mb-3 back-color" style="max-width: 1300px;">
        <div class="row g-0">
          <div class="col-md-8">

            <div id="carouselExample1" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "sportadmin/img1.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "sportadmin/img2.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "sportadmin/img3.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "sportadmin/img4.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "sportadmin/img4.png", class: "d-block w-100" %>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
          <div class="col-md-4">
            <div class="card-body" style="margin-left: 15px">
              <h4 class="card-title">Sports Admin</h4>
              <p class="card-text">This is a web app designed to assist referees in filling out game reports, teams in registering players, and organizations (such as UEFA) in managing all competitions and related matters.</p>
              <p class="card-text"><small class="text-muted">Duration: 2 Weeks</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 back-color" style="max-width: 1300px;">
        <div class="row g-0">
          <div class="col-md-8">

            <div id="carouselExample2" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag "pitchesforfun/img1.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "pitchesforfun/img2.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "pitchesforfun/img3.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "pitchesforfun/img4.png", class: "d-block w-100" %>
                </div>
                <div class="carousel-item">
                  <%= image_tag "pitchesforfun/img4.png", class: "d-block w-100" %>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
          <div class="col-md-4">
            <div class="card-body" style="margin-left: 15px">
              <h4 class="card-title">Pitches for Fun</h4>
              <p class="card-text">This was a WebApp based on a style like Airbnb where the goal was for the seller to publish their sports venues for rental and manage them, and for the client to make reservations and be able to leave a comment about them after their reservation was finished.</p>
              <p class="card-text"><small class="text-muted">Duration: 1 Week</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="lenguages">
  <div class="container">
    <h2>Lenguages learned up until now</h2>

    <div class="cards-container">
      <div class="my-card">
        <img src="https://logodownload.org/wp-content/uploads/2016/10/html5-logo-8.png" class="html">
        <h4 class="text">HTML5</h4>
      </div>

      <div class="my-card css">
          <img src="https://seeklogo.com/images/C/css-3-logo-023C1A7171-seeklogo.com.png" alt="CSS3 logo" class="css">
          <h4 class="text">CSS3</h4>
      </div>

      <div class="my-card">
        <img src="https://logospng.org/download/javascript/logo-javascript-1024.png" alt="JavaScript logo" class="js">
        <h4 class="text">JavaScript</h4>
      </div>

      <div class="my-card">
        <img src="https://www.freeiconspng.com/thumbs/sql-server-icon-png/sql-server-icon-png-29.png" alt="SQL logo" class="sql">
        <h4 class="text">SQL</h4>
      </div>

      <div class="my-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1200px-Ruby_logo.svg.png" alt="Ruby logo" class="ruby">
        <h4 class="text">Ruby</h4>
      </div>
    </div>

  </div>
</section>

<section id="about">
  <div class="about-me container">
    <h2 class="title">About me</h2>
    <div class="about-me-text mx-5">
      <p>Hello! My name is Bernardo Pinto Mendes and I am currently finishing an intensive 9-month bootcamp in Web Development of Ruby-on-Rails at LeWagon, taught in English. Previously, I attended Tomaz Pelayo in Santo Tirso for my secondary education, where I graduated from a technical-professional course in Electronics, Automation, and Computers from the 10th to the 12th grade.</p>
      <p>During my technical course, I learned how to design and build electronic circuits, develop computer programs and industrial automation systems. It was an enriching experience for me as I learned to work in a team, solve problems creatively, and improve my communication skills.</p>
      <p>However, my passion for technology did not stop there. I decided to delve deeper into programming and join a web development bootcamp. It was an intense and rewarding challenge where I learned to develop scalable and complex web applications using modern technologies. The bootcamp as a length of 9 weeks were my objective was chenge carreer.</p>
      <p>I am excited about the endless possibilities that technology offers and eager to contribute to challenging and innovative projects. I hope to have the opportunity to work in a dynamic team where I can put my skills into practice and continue to learn.</p>
      <p>Thank you for reading a bit about me. I would be happy to share more about my experiences and skills. Feel free to get in touch if you would like to know more!</p>
    </div>
  </div>
</section>
